{% extends "blog/base.html" %}

{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'seller' post.author %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            {% if post.is_discounted.0 != 0 %}
            <span style="text-decoration: line-through;">${{ post.price }}</span>
            <p class="article-content" style="color: red;">discounted price ${{ post.is_discounted.1 }}</p>      
            {% else %}
            <p class="article-content">${{ post.price }}</p>
            {% endif %}
            <p class="article-content">Stock: {{ post.stock }}</p>
            <img class="article-img" src="{{ post.image.url }}" alt="{{ post.title }}">
            <p class="article-content">Description: {{ post.description }}</p>
                <!-- Dropdown select for quantity -->
                <form method="post" action="{% url 'add_to_cart' post.id 'home' %}">
                  {% csrf_token %}
                  <label for="quantity">Quantity:</label>
                  <select name="quantity" id="quantity">
                      {% for qty in '123456789'|make_list %}
                          <option value="{{ qty }}">{{ qty }}</option>
                      {% endfor %}
                  </select>
                  <button type="submit" class="btn btn-primary">Add to cart</button>
              </form>
            <a href="{% url 'add_to_wishlist' post.id %}" class="heart-icon"><i class="fa fa-heart"></i></a>
          </div>
        </article>
    {% endfor %}
{% endblock content %}

