{% extends "blog/base.html" %}
{% block content %}
    {% for order in orders %}
    <article class="media content-section">    
    <h2><a class="article-title" href="#">order {{ forloop.counter }}</a></h2>
    <br>
        {% for post in order.cartitems_set.all %}
        <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.product.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.product.author }}</a>
            <small class="text-muted">{{ post.product.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.product.id %}">{{ post.product.title }}</a></h2>
            <p class="article-content">price of one ${{ post.product.price }}</p>
            <p class="article-content">Quantity {{ post.quantity }}</p>
            <img class="article-img" src="{{ post.product.image.url }}" alt="{{ post.product.title }}">
        </div>
        </article>
        {% endfor %}
    </article>
    {% endfor %}
{% endblock content %}