{% extends "blog/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for order in orders %}
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">
                                <span class="order-number">Order {{ forloop.counter }}</span> 
                                <span class="order-date">Placed on {{ order.date_placed|date:"F d, Y" }}</span>
                            </h2>   
                                                     
                            <hr>
                            {% for post in order.cartitems_set.all %}
                                <div class="media">
                                    <img class="mr-3 rounded-circle article-img" src="{{ post.product.author.profile.image.url }}" alt="{{ post.product.author }}">
                                    <div class="media-body">
                                        <div class="article-metadata mb-2">
                                            <a href="#">{{ post.product.author }}</a>
                                            <span class="text-muted ml-2">{{ post.product.date_posted|date:"F d, Y" }}</span>
                                        </div>
                                        <h4 class="article-title"><a href="{% url 'post-detail' post.product.id %}">{{ post.product.title }}</a></h4>
                                        <p class="article-content">Price: ${{ post.product.price }}</p>
                                        <p class="article-content">Quantity: {{ post.quantity }}</p>
                                        <img src="{{ post.product.image.url }}" class="article-img" alt="{{ post.product.title }}">
                                        <a href="{% url 'review' post.product.id%}" class="btn btn-primary mt-3">Add Review</a>
                                    </div>
                                </div>
                                {% if not forloop.last %}
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
